<div>
  <a (click)="openModal()">Add New Customer</a>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Address</th>
    <th>Telephone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>

<div *ngFor="let message of messages | async">
  <p>{{ message.message }}</p>
  <div class="author">
    {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
  </div>
</div>
