<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!--- <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
            </div>
          </div>
        </div>
      </div> -->
      <!-- <figure class="highlight">

        <input type="te-message" (click)="sendMessage()">SEND</a>
xtarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a class="send
       </figure>-->
      Home
    </div>
  </div>
</div>
